











body{
	text-align:center;
	background: #777;
	background-image: url("brpattern.png");
	width:1050px;
	margin:0 auto;
}
	h1 {
		text-align: center;
		font-family: 'Cinzel', serif;
		font-weight: bold;
	}
	#instructions{
		float: left;
		line-height: 1;
		margin: 0px 0px 0px 227px;
		padding:30px 30px 30px 30px;
		background-color: white;
		overflow: auto;
		border: 7px solid #F0F0F0;
		border-radius: 15%;
		height:310px;
		width: 500px;
		font-size: 20px;
	}
		p {
			clear: both;
			text-align: center;
		}
	#number{
		clear: both;
		float: left;
		font-size: 50px;
		font-weight: bold;
		padding: 20px 30px 20px 30px;
		background-color: white;
		border: 7px solid #F0F0F0;
		border-radius: 30%;
		margin: 5px 0 5px 360px;
	}
	#info1{
		float:right;
		padding: 30px 30px 33px 30px;
		background-color: white;
		border: 7px solid #F0F0F0;
		border-radius: 30%;
		margin: 5px 377px 5px 0px;
	}
		#wins{
			margin:-10px 0 10px 0;
			font-family: 'Archivo Black', sans-serif;
		}

		#losses{
			margin: 10px 0 -10px 0;
			font-family: 'Archivo Black', sans-serif
		}

	#container{
		clear: both;
		float: left;
		margin: 0px 0px 0px 176px;
		padding:30px 20px 0px 20px; 
		background-color: white;
		overflow: auto;
		border: 7px solid #F0F0F0;
		border-radius: 20%;
		height:200px;
	}
		.crystals {
		margin:0px 5px 0px 0px;
	    float: left;
		}
			#ruby{
			margin-top: 4px;
			}
			#emerald{
				margin-top:5px;
			}
			#sapphire{
				margin-top:-15px;
			}
			#amethyst{
				margin-top:7px;
			}
	#info2{
		clear: both;
		float: left;
		margin: 5px 0px 20px 340px;
		padding:30px 20px 0px 20px; 
		background-color: white;
		overflow: auto;
		border: 7px solid #F0F0F0;
		border-radius: 20%;
		height:175px;
		width: 300px;
	}
	h2 {
	   clear: both;
	   float: left;
	   margin: 23px 0px 0px 50px;
	}
	#score{
	    float: right;
	   	margin: 23px 55px 0px 0px;
	    font-size: 25px;
	    font-weight: bold;
	}
	#response{
		font-size: 30px;
		clear: both;
		text-align: center;
		margin:75px 0px 0px 0px;
	}

